<!DOCTYPE html>
{% load static %}
<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="srs_admin">
    <meta name="author" content="wzy">
    <title>登录</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!-- jQuery CDN -->
    <script src="{% static 'js/jquery.min.js'%}"></script>

  </head>
<style>
        html,body{text-align:center;margin:0px auto;}

</style>
<body>
<div class="container well" style="margin-top: 200px;width: 500px">
    <form class="col-sm-offset-4col-sm-4 col-sm-offset-4 form form-horizontal " action="" method="post" id="login_form" style="margin-left: 0px;" onsubmit="return check()">
        <h3 class="text-center">用户登录</h3>
        <div class="form-group">
        <label for="username" class="col-sm-3 control-label">账&nbsp;号</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
         </div>
        </div>
        <div class="form-group">
           <label for="password" class="col-sm-3 control-label">密&nbsp;码</label>
           <div class="col-sm-7">
                <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
           </div>
        </div>
        <div class="form-group">
           <label for="verify_code" class="col-sm-3 control-label">验证码</label>
           <div class="col-sm-4">
               <input type="text" class="form-control" id="verify_code" name="verify_code" placeholder="请输入验证码" AUTOCOMPLETE="off">
           </div>
            <img id="verify_code_name" style="height:34px;padding-left: 0px;padding-right: 15px;" class="col-sm-3" src="/static/image/{{image_name}}">
            <input type="text" style="display:none" id="verify_code_image_key" name="verify_code_image_key" value="{{image_name}}">
        </div>
    <span id="error" style="center-block">{{error}}</span>
    <button type="submit" class="btn btn-primary center-block">登录</button>
    <div class="text-right">
        <a href="/regist/" >注册新账号</a>
    </div>
</form>
</div>
</body>
<script>
    function check(){
        var username =$('#username').val()
        var password =$('#password').val()
        var verify_code=$('#verify_code').val()
        if(username.length==0 || password.length==0 || verify_code==0)
        {
            $('#error').html('请填写完整得到登录信息')
            return false
        }
    }

</script>
</html>